.dev-shop-nav{width:980px;height:30px;margin:0 auto;background-color:#a50000;font-size:12px;}/*height:1号店官方导航为30px;background:[可以为背景色，也可以为背景图]:font-size:[导航文本字号]*/
.dev-shop-nav .dev-nav li{position:relative;}/*position:[必须指定]*/
.dev-shop-nav .dev-nav > li{float:left;border-right:1px solid #9b6767;line-height:30px;}/*float:[必须指定];border:[可选值];line-height:[根据导航高度定义] 注意：此处标签的选择采用的是“>”,选择的li标签仅仅只是一级菜单。*/
.dev-shop-nav .dev-nav > li a{display:block;padding:0 10px;color:#fff;white-space:nowrap;}/*padding:[可以修改];color:[可以修改] 注意：选择的a标签为一级菜单li下所有的a标签*/
.dev-shop-nav .dev-nav > li ul{display:none;position:absolute;z-index:198;min-width:100%;background-color:#bb0000;}/*display,position:[必须指定];z-index:[可根据实际情况调整，但是建议不要设置太大的值，后期不好维护];min-width(width):[min-width:100%(自适应文案内容);width:自定义(单位可自定义：%，px,em...)];background:[可以为背景色，也可以为背景图] 注意：选择的ul标签为一级菜单li下所有的ul子菜单*/
.dev-shop-nav .dev-nav > li > ul{top:30px;left:0;}/*top:[相对于父类导航的top值];left:[相对于父类导航left值]; 注意：此处ul设置的top和left是一级菜单的位置*/
.dev-shop-nav .dev-nav > li > ul ul{top:0;left:100%;border-left:1px solid #9b6767;}/*border:[可选值];注意：此处ul设置的top和left是一级菜单的子类ul的位置*/
.dev-shop-nav .dev-nav > li > ul li{*float:left;*min-width:100%;}/*注意：解决ie7（包含ie7）以下浏览器3px间距的bug*/

.dev-shop-nav .dev-nav li:hover > ul{display:block;}/*注意：显示对应的子菜单*/
.dev-shop-nav .dev-nav > li a:hover{background-color:#cd0000;}/*注意：导航鼠标移上去的效果*/
